@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	scroll-behavior: smooth;
	font-family:'Times New Roman', Times, serif
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: blu;
}
.cta {
	display: inline-block;
	padding: 5px 15px; 
	color: white;
    border: 2px solid red; 
	background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
	font-size: 1.5rem; 
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	transition: 0.3s ease;
	transition-property: background-color, color;
	font-weight: 500;
	text-decoration: none;
}
.cta:hover {
	color: black;
	background-color: red;
}
.ctaa {
	display: inline-block;
	padding: 5px 15px;
	color: white;
    border: 2px solid red; 
	background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
	font-size: 2.0rem; 
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	transition: 0.3s ease;
	transition-property: background-color, color;
	font-weight: 500;
	text-decoration: none;
}

.ctaa:hover {
	color: black;
	background-color: red;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: black;
}
.brand h1 span {
	color: red;
}
/* Home, About and Contact */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: red;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* Home, About and Contact */
/* Home page*/
#home {
	background-image: url(222.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.7;
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#home h1:nth-child(1) {
	animation-delay: 1s;
}
#home h1:nth-child(2) {
	animation-delay: 2s;
}
#home h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: red;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#home h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#home h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#home h1:nth-child(3) span {
	animation-delay: 2.5s;
}
/* Homepage */
/* About page*/
#about {
    background-image: url(111.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.about-hero {
    position: relative;
    height: 40vh;
    width: 100%; 
    background: url('d.png') no-repeat center center;
    background-size: cover;
    color: white;

}
.about-hero img {
    width: 100%; 
    height: 100%; 
}
.about .container {
    max-width: 800px;
    background-color: #FFF6EF;
    padding: 20px;
    margin-top: -15vh;
}
.col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about .col-right h1 {
    font-size: 60px;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
#about .col-right p {
    margin-top: 10px;
	padding-top: 20px;
    margin-bottom: 33px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: white !important;
    text-align: center;
    font-weight: 300;
}
#about .col-right .cta {
    color: white;
    margin-bottom: 40px;
    padding: 10px 20px;
    font-size: 2rem;
}
.resized-img {
    width: 550px;
    height: 568px;
}
/* Aboutpage */
/* More page */
#more {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0; 
}
.ctaaa {
	display: inline-block;
	padding: 5px 15px;
	color: white;
    border: 1px solid red; 
	background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
	font-size: 1.5rem; 
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	transition: 0.3s ease;
	transition-property: background-color, color;
	font-weight: 500;
	text-decoration: none;
}
.ctaaa:hover {
	color: black;
	background-color: red;
}
.more.container {
	max-width: 1400px; 
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}
.more-item {
	background-color: black;
	width: calc(33.3333% - 20px); 
	max-width: 500px; 
	padding: 20px; 
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
	flex-grow: 1;
}
.more-item img {
	max-width: 100%;
	height: auto;
	transition: transform 0.3s ease-in-out;
}
.more-item:hover img {
	transform: scale(1.05);
}
.title-box {
	padding: 20px 0;
}
.title-box h2 {
	font-size: 1.2rem; 
	margin: 0;
}
.more-item h2 {
	color: #212A33; 
	font-size: 1rem;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.more-item h1 {
	font-family: Arial, sans-serif;
	padding-top: 10px;
	color: white;
	text-align: center; 
	font-weight: bold;
	padding-bottom: 20px;
	font-size: 20px;
}
  .more-item p {
	color: white;
	font-family: Arial, sans-serif;
	text-align: justify; 
	font-weight: bold;
	flex-grow: 1; 
	display: flex;
	align-items: flex-start; 
    padding-bottom: 10px;
}
/* More page */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: red;
		font-weight: 500;
	}
}
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	#home h1 {
		font-size: 7rem;
	}
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid red;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		color: black;
		text-align: left;
	}
	#about .col-right p {
		color: black;
		text-align: left;
	}
	#more .more-bottom .more-item {
		flex-basis: 45%;
		margin: 2.5%;
	}

}
@media only screen and (min-width: 1200px) {
/* Header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
/* Header */
/* Login page */
.login-form {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.login-container {
    background-color: white;
    max-width: 900px; 
    width: 100%;
    margin: 0 auto; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 415px;
    overflow: hidden;
}
.image-half {
    width: 100%;
    height: 100%; 
    background-image: url('lpic.png'); 
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center; 
}
.image-half {
    width: 100%; 
    height: 100%; 
    background-image: url('lpic.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.form-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 0; 
}

.login-container h2 {
    font-size: 35px;
    margin-bottom: -10px;
    margin-top: 0; 
	letter-spacing: 3px;
    padding: 10px 0; 
    width: 100%;
    text-align: center;
}
.input-container {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
.input-container label {
    display: block;
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 5px; 
}
.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}
.input-container input:focus {
    border-color: red;
	box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
.cta.login-btn {
    display: block;
    background-color: red;
    color: white;
    padding: 12px; 
    font-size: 1.2rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%; 
    text-align: center;
    margin: auto; 
    margin-top: auto; 
}
.cta.login-btn:hover {
    background-color: maroon;
    transform: scale(1.05);
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}
form button {
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 30px;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background: #00bcd4;
    transition: 0.2s ease;
}
form button:hover {
    background: #0097a7;
}
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 90%;
    }
    .image-half, .form-half {
        width: 100%;
    }
}
/* Login page */
/* Slider */
.slider p {
    position: absolute;
    bottom: 0;
    font-family: Arial, sans-serif;
    left: 0;
    font-size: 20px;
    width: 100%;
    text-align: center; 
    color: white;
    padding-bottom: 80px;
}
.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.images {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease;
}
.images img {
    width: 100%;
    height: 100vh;
}
.images input {
    display: none;
}
#home .dots {
    position: absolute;
    bottom: 340px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {
    background: #fff;
}
#img1:checked ~ .images {
    transform: translateX(0);
}
#img2:checked ~ .images {
    transform: translateX(-33.3333%);
}
#img3:checked ~ .images {
    transform: translateX(-66.6666%);
}
input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
	}
}
/* Slider */
/* Contact page */
.fa-mobile-alt {
    color: red !important;
}
.fas.fa-envelope-open {
    color: red !important;
}
.fas.fa-map-marker-alt {
    color: red !important;
    
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.contact-bg{
    height: 40vh;
    background-image: url(111.png);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h2{
    font-size: 60px;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: red;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
}
.text{
	padding-top: 10px;
	color: white !important;
    font-weight: 300;
    text-align: center;
    opacity: 100%;
}
.text1 { 
    padding-top: 10px; 
    color: black !important; 
    font-weight: 300; 
    font-size: 14px;
    opacity: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin-right: auto;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.rem 0;
    padding-left: 210px;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: red;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
	color: black;
}
.contact-info .text{
    padding-top: 0.4rem;
    color: black;
    white-space: nowrap; 
}

.contact-form {
    padding: 2rem 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.contact-form form {
    padding-bottom: 1rem;
    max-width: 600px; 
    width: 100%;
}

.form-control {
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0; 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem; 
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #fff;
    background: red;
    border: none;
	max-width: 600px; 
    width: 100%;
    border-radius: 5px;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background-image: url(111.png); 
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: #f7327a;
    border-color: #f7327a;
}
@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form {
        grid-column: span 2; 
        justify-content: center; 
        align-items: center; 
    }
}
@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* Contact page */